.container__button {
    display: flex;
    align-items: center;
}

.container__button button {
    transition: ease-in-out 0.2s;
}

.button-onlyIcon {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
}

.button-onlyIcon:hover {
    outline: 1px solid #3517B4;
    transform: scale(1.1);
}

.button-page {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #16151C;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-page:hover {
    color: #3517B4;
    transform: scale(1.1);
}

.button-page--active {
    color: #7152F3;
    border: 1px solid #7152F3
}

.button-box {
    width: 100%;
    border-radius: 12px;
    background-color: #7152F3;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-box:hover {
    background-color: #3517B4;
    cursor: pointer;
    transform: scale(1.03);
}

.button-box > span {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.button-box--outline {
    background-color: transparent;
    border: 1px solid #A2A1A8;
}

.button-box--outline:hover {
    background-color: #A2A1A810;
    cursor: pointer;
    transform: scale(1.03);
}

.button-box--outline span {
    color: #16151C;
}

.button-mini {
    justify-content: flex-start;
}

.button-mini span {
    color: #A2A1A8;
    font-weight: 400;
    font-size: 16px;
}

.button__label {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center;
}