@import url('../../../globals.css');

* {
    color: #16151C;
    font-family: "Satoshi-Variable";
    font-size: 16px;
}

.container__main {
    display: flex;
    flex: 5;
    flex-direction: column;
    padding: 32px;
    background-color: #D9E1E110;
    gap: 24px;
    position: relative;
}

.container__background--error {
    width: 100%;
    height: 100%;
    background-color: #d9e1e13b;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.container__background {
    display: none;
}

.main__head {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main__head * {
    width: auto;
}

.main__head h1{
    font-family: "Satoshi-Variable";
    font-weight: 700;
    font-size: 49px;
    color: #16151C;
}

.main__form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.form__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form__header h2 {
    font-family: "Satoshi-Variable";
    font-size: 20px;
    font-weight: 500;
    color: #16151C;
}

.form__header p {
    font-family: "Satoshi-Variable";
    font-size: 16px;
    font-weight: 400;
    color: #A2A1A8;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: auto;
}

.input__image {
    width: 100%;
}

.input__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 32px;
    position: relative;
}

.form__inputs .input__text:nth-child(4) .container__input .input-form {
    padding-right: 30px;
}

.input__text > .container__button {
    position: absolute;
    display: flex;
    justify-self: flex-end;
    right: 0;
    margin: 0px 20px;
}

.input__text > .container__button .button-onlyIcon:hover {
    outline: none;
}

.form__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

/* Para telas menores que 768px (tablets) */
@media (max-width: 768px) {
    .container__main {
        padding: 24px;
        gap: 20px;
    }

    .main__head h1 {
        font-size: 40px;
    }

    .main__form {
        padding: 20px;
        gap: 20px;
    }

    .form__inputs {
        gap: 16px;
    }

    .form__inputs .input__text .container__input .input-form {
        padding: 10px 18px;
        font-size: 16px;
    }

    .input__text > .container__button {
        margin: 0px 16px;
    }

    .form__inputs .input__text .container__button button span svg {
        width: 20px;
    }

    .form__inputs .input__text .container__dropdown .dropdown__select {
        padding: 10px 18px;
    }

    .form__inputs .input__text .container__dropdown .dropdown__select .dropdown__selected span {
        font-size: 16px;
    }

    .form__inputs .input__text .container__dropdown .dropdown__select .dropdown__arrow svg {
        width: 20px;
    }

    .form__header h2 {
        font-size: 18px;
    }

    .form__header p {
        font-size: 14px;
    }

    .input__text {
        gap: 16px;
    }

    .form__buttons {
        gap: 12px;
    }

    .form__buttons .container__button button {
        padding: 10px 16px;
        border-radius: 8px;
    }
}


@media (max-width: 768px) {
    .main__form {
        padding: 20px;
        gap: 16px;
    }

    .form__inputs {
        gap: 12px;
    }

    .main__head h1 {
        font-size: 28px;
    }

    .form__header h2 {
        font-size: 18px;
    }

    .form__header p {
        font-size: 14px;
    }

    .form__inputs .input__text .container__input .input-form {
        padding: 10px 18px;
        font-size: 14px;
    }

    .form__inputs .input__text .container__dropdown .dropdown__select {
        padding: 7px 18px;
        align-items: center;
    }

    .form__inputs .input__text .container__dropdown .dropdown__select .dropdown__selected span {
        font-size: 14px;
    }

    .form__buttons .container__button button {
        padding: 8px 16px;
        border-radius: 8px;
    }
}