@import url('../../app/globals.css');

* {
    color: #16151C;
    font-family: 'Satoshi-Variable'
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.header__logo h2 {
    font-family: "Satoshi-Variable";
    font-size: 20px;
    font-weight: 500;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.user__bell {
    padding: 10px;
    border-radius: 12px;
    background-color: #D9E1E160;
}

.user__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    outline: 1px solid #16151C20;
    border-radius: 12px;
    padding: 5px 10px;
    width: auto;
    position: relative;
}

.user__icon {
    padding: 10px;
    border-radius: 999px;
    background-color: #D9E1E160;
}

.user__name {
    display: flex;
    flex-direction: column;
}

.user__name .name__title {
    font-family: 'Satoshi-Variable';
    font-size: 14px;
    color: #16151C;
    font-weight: 500;
    line-height: 130%;
}

.user__name .name__func {
    font-family: 'Satoshi-Variable';
    font-size: 13px;
    color: #16151C80;
    font-weight: 300;
}

.dropdown_button {
    display: flex;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.button--active {
    transform: rotate(180deg);
}

.dropdown_options {
    opacity: 0;
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    transition: ease-in-out 0.1s;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: 8px;
}

.dropdown--active {
    opacity: 100;
    display: flex;
    flex-direction: column;
}

.hamburguer_button {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-direction: column;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    padding: 4px 8px;
}

.humburguer_button--open .hamburguer_line:first-child {
    transform: rotate(45deg) translate(0, 8px);
}

.humburguer_button--open .hamburguer_line:nth-child(2) {
    opacity: 0;
}

.humburguer_button--open .hamburguer_line:last-child {
    transform: rotate(-45deg) translate(0, -8px);
}

.hamburguer_line {
    display: block;
    width: 20px;
    height: 2.5px;
    background-color: #16151C;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
    transform: rotate(0deg);
}

/* Responsividade */
@media (max-width: 1040px) {
    .hamburguer_button {
        display: flex;
    }

    .header__logo {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__logo img {
        width: 30px;
    }
    
    .header__logo h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .user__info {
        gap: 12px;
        border-radius: 10px;
        padding: 4px 8px;
    }
    
    .user__icon {
        padding: 8px;
    }
    
    .user__name .name__title {
        font-size: 13px;
        line-height: 130%;
    }
    
    .user__name .name__func {
        font-size: 12px;
    }
    
    .dropdown_options {
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        padding: 6px;
    }
    
    .dropdown_options .container__button .button-box {
        padding: 10px 24px;
        align-items: center;
        justify-content: center;
    }

    .dropdown_options .container__button .button-box svg {
        width: 18px;
    }

    .dropdown_options .container__button .button-box p {
        font-size: 14px;
    }

    .hamburguer_line {
        height: 2.5px;
        width: 18px;
    }
}
