@import url('../../app/globals.css');

.container__sidebar {
    width: 20%;
    height: 100%;
    background-color: #D9E1E110;
    padding: 32px;
    display: flex;
    flex: 1;
    align-items: start;
    flex-direction: column;
    border-right: 2px solid #A2A1A820;
    gap: 12px;
}

.container__item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 16px 16px 16px 24px;
    border-radius: 4px 16px 16px 4px;
    cursor: pointer;
    transition: ease 0.2s;
}

.container__item:hover{
    border-left: 4px solid #7152F3;
}

.item--active {
    background-color: #7152F310;
    border-left: 4px solid #7152F3;
}

.item__text {
    font-family: 'Satoshi-Variable';
    font-weight: 500;
    font-size: 16px;
    color: #A2A1A8;
    transition: ease 0.2s;
}

.text--active {
    color: #7152F3;
}