@import url('../../globals.css');

* {
    color: #16151C;
    font-family: "Satoshi-Variable";
}

.container__main {
    flex: 5;
    padding: 32px;
    background-color: #D9E1E110;
    gap: 32px;
}

.container__userList {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    gap: 32px;
}

.userList__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.head__search {
    width: 50%;
}

.head__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.userList__main {
    display: flex;
    flex-direction: column;
}

.userList__pages {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

@media (max-width: 840px) {
    .container__userList {
        padding: 20px;
        gap: 24px;
    }

    .userList__head {
        gap: 16px;
    }

    .userList__pages {
        justify-content: center;
    }

    .userList__main .container__userItem {
        padding: 8px 0px;
        gap: 8px;
    }

    .userList__main .container__userItem .item__component {
        gap: 8px;
        justify-content: center;
        width: 30px;
    }
}

@media (max-width: 768px) {
    .head__search {
        width: 80%;
    }
    
    .head__search .container__input {
        gap: 8px;
        width: 100%;
    }

    .head__search .container__input .input__icon {
        left: 12px;
    }

    .head__search .container__input .input__icon svg {
        width: 20px;
    }

    .head__search .container__input .input-search {
        padding: 10px 40px;
        border-radius: 12px;
        font-size: 16px;
    }

    .head__buttons .container__button button span p {
        display: none;
    }

    .head__buttons .container__button .button-box {
        border-radius: 8px;
        padding: 8px;
    }

    .head__buttons .container__button .button-box svg {
        width: 24px;
        height: 24px;
    }
}